<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header id="main-header">
      <div class="container">
        <h1>My Website</h1>
      </div>
      <%= render 'shared/navbar' %>
    </header>
    <section class='container'>
      <%= yield %>
    </section>
    <footer id="main-footer">
      <p>Copyright &copy; 2017 My Website</p>
    </footer>
  </body>
</html>
